.com-list-click {
    border-radius: 1rem;
    .item {
        &:first-child {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
        &:last-child {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        &:nth-last-child(n + 2) {
            margin-bottom: 0.25rem;
        }
        height: 4.5rem;
        display: flex;
        align-items: center;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.05);
        padding-left: 1rem;
        cursor: pointer;
        &:hover {
            color: #0b4367;
        }
        .item-icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .item-text {
            font-size: 1rem;
            font-weight: 500;
        }
    }
}
