.com-list-click {
  border-radius: 1rem;
}
.com-list-click .item {
  height: 4.5rem;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.05);
  padding-left: 1rem;
  cursor: pointer;
}
.com-list-click .item:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.com-list-click .item:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.com-list-click .item:nth-last-child(n+2) {
  margin-bottom: 0.25rem;
}
.com-list-click .item:hover {
  color: #0b4367;
}
.com-list-click .item .item-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.com-list-click .item .item-text {
  font-size: 1rem;
  font-weight: 500;
}.com-list-select .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.com-list-select .item:nth-last-child(n+2) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.com-list-select .item:hover {
  background: rgba(217, 217, 217, 0.0078431373);
}
.com-list-select .item .item-label {
  font-size: 1rem;
  line-height: 1.1875rem;
}
.com-list-select .item .item-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #0b4367;
}
.com-list-select .item .item-icon > svg {
  width: 1rem;
  height: 1rem;
}